:root {
	--dark: #131212;
	--light: #FFFFFF;
}

// Typography ===========================================================================
@font-face {
	font-family: "Amiamie";
	src: 
		url("/static/fonts/Amiamie-Regular.woff2") format(woff2),
		url("/static/fonts/Amiamie-Regular.woff") format(woff);
	font-display: swap;
}
// Base ===========================================================================

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Amiamie", serif, Helvetica, Arial, sans-serif;
}

body {
	background-color: var(--dark);
	color: var(--light);
}

main {
	/* max-width: 37.5em; */
}

p,
pre,
code {
	/* line-height: 1.5; */
}

a {
	color: inherit;
}

// Media Queries ===========================================================================

// Classes ===========================================================================

// Media Queries ===========================================================================
@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}
